.main {
  width: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 300px;
  
}

.main div{
  display: flex;
  flex-direction: column;
  width: 60rem;
  padding-bottom: 10em;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main img {
  width: 200x;
  height: 200px;
  border-radius: 10%;
}

.main h2 {
  font-weight: 900;
  font-size: 42px;
}
